.navigation-header__logo {
  margin-right: 93px;
  margin-top: 24px;
  margin-bottom: 25px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: map-get($colors, main-blue-color);
}
.navigation-header {
  display: flex;
  align-items: center;
}
.navigation-header__logo--black {
  color: map-get($colors, web-color);
}
