//Header

.header {
  border-bottom: 1px solid #ececec;
}

.container.header-container {
  display: flex;
  align-items: center;
}

//Principles

.principles {
  padding: 94px 0;
}

//Neon

.neon {
  padding-bottom: 94px;
}

//Team

.team {
  background: map-get($colors, background-color-two);
  padding: 94px 0;
}

//Companies

.companies {
  padding: 94px 0;
}

//Menu

.menu {
  padding: 94px 0;
}

//Work-list

.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
